<body class="bg-gray-600 h-screen flex items-center justify-center rounded-md">
    <!-- component -->

    <body
        class="h-screen bg-gradient-to-br from-yellow-200 to-blue-700 rounded-md flex justify-center items-center w-full">
        <div class="col-span-6">
            <form [formGroup]="twoFALoginForm" (click)="on2FALogin()" novalidate autocomplete="off">
                <div class="bg-white px-10 py-8 rounded-xl w-screen shadow-xl max-w-sm">
                    <div class="space-y-4">
                        <h1 class="text-center text-2xl font-semibold text-gray-600">Login</h1>
                        <hr>
                        <div class="flex items-center border-2 py-2 px-3 rounded-md mb-4">
                            <input class="pl-2 outline-none border-none w-full [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" type="number" name="twoFACode" value=""
                                placeholder="Two Factor Code" formControlName="twoFACode" />
                            @if(twoFALoginForm.controls['twoFACode'].errors && twoFALoginForm.controls['twoFACode'].touched)
                            {
                            <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium"> - 6 digit Code is
                                    required</span>
                            </p>
                            }
                        </div>
                    </div>
                    <button type="submit"
                        class="mt-6 w-full shadow-xl bg-gradient-to-tr from-blue-600 to-red-400 hover:to-red-700 text-indigo-100 py-2 rounded-md text-lg tracking-wide transition duration-1000">Verify</button>
                    <hr>
                    <!-- <div class="flex justify-center items-between mt-4">
                        <p class="inline-flex items-center text-gray-700 font-medium text-lg text-center">
                            <span class="ml-2">Don't have an account? <br /> <a routerLink="/register"
                                    class="text-md ml-2 text-blue-500 font-semibold">Register now &rarr;</a>
                            </span>
                        </p>
                    </div> -->
                </div>
            </form>
        </div>
    </body>
</body>