<div class="mt-12 min-h-screen">
    <div class="p-5 justify-center items-center">
        <div class="pt-16">
            <h1 class="text-blue-600 text-2xl font-bold text-center underline">Ask to summarize</h1> <br />
            <p class="text-[16px] text-center text-[yellow] animate-pulse animate-infinite animate-ease-in">
                Do not share any personal details. This is only for educational purpose.
            </p>
            <br />
            <form [formGroup]="inputForm" (submit)="getAnswer()" [class.submitted]="service.formSubmitted" novalidate
            autocomplete="off">
            <div class="mt-4">
                <label for="input" class="block mb-2 text-lg font-medium text-gray-100">Type your long text or paste
                    here..</label>
                    <p class="text-[16px] text-right text-[yellow]">
                        Current Word count : {{currentWordCount}}
                    </p>
                    <textarea type="text" formControlName="inputText" rows="1" (input)="onInput($event)"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 resize-none"
                        placeholder="Ask your query.." required></textarea>
                </div>
                @if(isLoading)
                {<div class="flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="animate-bounce animate-infinite animate-ease-in h-16 w-44" viewBox="0 0 448 512">
                        <path fill="#63E6BE"
                            d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z" />
                    </svg>
                </div>
                }
                @else {
                <div class="flex-row space-y-2 lg:flex lg:justify-evenly lg:items-baseline lg:gap-2">
                    <button type="submit" [disabled]="isLoading"
                        class="text-white mt-4 bg-green-700 w-52 h-12 hover:bg-yellow-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-[14px] px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">ASK</button>
                    <button type="button" (click)="clearAll()"
                        class="text-white bg-red-600 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-lg h-12 w-52 text-[14px] px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">CLEAR ALL</button>
                </div>
                }
            </form>
        </div>
    </div>

    @if(response !== null && response !== "")
    {
    <div class="container mb-3 ml-5 mr-6">
        <div class="flex flex-col h-full overflow-x-auto mb-4">
            <div class="flex flex-col h-full">
                <div class="grid grid-cols-12 gap-y-2">
                    <div class="col-start-1 col-end-8 p-3 rounded-lg">
                        <div class="flex flex-row items-center">
                            <div
                                class="flex items-center justify-center text-yellow-300 font-bold h-14 w-14 rounded-full bg-orange-800 flex-shrink-0">
                                Query
                            </div>
                            <div
                                class="relative ml-3 text-xl text-white bg-slate-800 py-2 px-4 shadow-md shadow-slate-600 rounded-xl">
                                <div>{{inputForm.value.inputText}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-start-1 col-end-8 p-3 rounded-lg">
                        <div class="flex flex-row items-baseline">
                            <div
                                class="flex items-center justify-center text-yellow-300 font-bold h-16 w-16 rounded-full bg-green-800 flex-shrink-0">
                                Answer
                            </div>
                            <div
                                class="relative ml-3 text-md text-white bg-slate-800 py-2 px-4 shadow-md shadow-slate-700 rounded-xl">
                                <div>
                                    <markdown [data]="response" lineNumbers lineHighlight clipboard
                                        [clipboardButtonComponent]="clipBoardButton" katex [katexOptions]="options">
                                    </markdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>