<app-header></app-header>
<main class="h-full text-neutral-200 bg-gray-900 overflow-x-hidden">
    <router-outlet></router-outlet>
</main>
@if(isMenuScrolled)
{
<button class="flex fixed bottom-8 right-4" (click)="scrollToTop()">
    <span class="fa-stack" style="vertical-align: top;" title="Scroll To Top">
        <fa-icon class="fa-3x fa-stack-2x" style="color:#1c5dd6;" [icon]="circle"></fa-icon>
        <fa-icon class="fa-2x fa-stack-1x p-2.5 shadow-lg" style="color:#deec5f;" [icon]="up"></fa-icon>
    </span>
</button>
}