<!-- <body class="bg-gray-700"> -->
    <!-- <div>
        <app-header></app-header>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div> -->
<!-- </body> -->

<main class="h-full text-neutral-200 bg-gray-900 overflow-x-hidden">
    <app-header></app-header>
    <router-outlet></router-outlet>
</main>
@if(isMenuScrolled)
{
<button
    class="flex fixed bottom-4 w-10 right-4 h-10 transition-all duration-200 text-white rounded-full bg-emerald-400 hover:bg-blue-400"
    (click)="scrollToTop()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="m-auto w-6 h-6">
        <path fill-rule="evenodd"
            d="M11.47 2.47a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06l-6.22-6.22V21a.75.75 0 0 1-1.5 0V4.81l-6.22 6.22a.75.75 0 1 1-1.06-1.06l7.5-7.5Z"
            clip-rule="evenodd" />
    </svg>
</button>
}