<div class="pt-8 text-center items-center justify-center">
    <h1 class="mb-4 mt-[40px] text-[70px] font-semibold text-red">404</h1>
    <p class="mb-4 mt-[20px] text-[90px] text-red-600">Page not found !!</p>

    <!-- <div class="animate-border">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10">
            <path stroke-linecap="round"></path>
        </svg>

    </div> -->

    <p class="mt-[20px] text-green-600 text-[25px] font-bold"> Go to Dashboard <a routerLink="/home"
            routerLinkActive="active" class="text-blue-500 cursor-pointer text-[30px] font-extrabold">Home</a>.</p>
</div>