<section class="h-screen top-20 col-md-4 bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            An Application trying some basic things!!</h1>
            <p class="mb-8 text-2xl font-normal text-cyan-800 lg:text-2xl sm:px-16 lg:px-48 dark:text-cyan-400 mt-14 underline">
                -- This is an
                application
                where tried to showcase --</p>
            
            <li class="text-center text-emerald-400 text-xl p-3">
                Working with RESTFul API and data transferring with client and server (like <strong>Google's Gemini API</strong>,
                <strong>
                    Clash of Clans
                    API
                </strong>..),
            </li>
            <li class="text-center text-emerald-400 text-xl p-3">Secure login/registration which also supports external login provider
                like google and also having feature to add authenticator app
                for <strong>2 Factor</strong> authentications</li>
            <li class="text-center text-emerald-400 text-xl p-3">Along with a small<strong> CRUD operations</strong> .</li>
            <li class="text-center text-emerald-400 text-xl p-3">A simple quizzing part where application user can play quiz, create quiz categories, add questions .</li>
            <li class="text-center text-yellow-400 text-xl p-3">Things to do like : refactoring and some UI part like proper responsiveness etc..</li>
            <li class="text-center text-purple-400 text-xl p-3">Things to be added : Shareable quiz link which will allow other non application user to play that quiz. </li>
            <div class="flex flex-col mt-6 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <!-- <button (click)="change()" -->
            <a routerLink="/home"
                class="inline-flex justify-center items-center px-2 py-2.5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Check now 
                <fa-icon class="ml-2 fa-lg" [icon]="longRightArrow" style="color: white;"></fa-icon>
            </a>
        </div>
    </div>
</section>