@if(!is2FAEnabled){
<div class="content-center p-2 ml-[35px]">
    <p class="font-bold text-4xl text-wrap text-blue-500">Enable Two Factor Authentication</p>
    <div>
        <p class="mb-2 mt-4 text-lg font-semibold text-[#eccb39] underline">To use an authenticator app go through the
            following steps:</p>
        <ul class="space-y-1 list-disc text-[#d8d8d8]">
            <li>
                <p class="mb-2 w-full mt-4 text-xl">
                    Download a two-factor authenticator app like Microsoft Authenticator for
                    <a class="font-semibold text-blue-600 hover:underline"
                        href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
                    <a class="font-medium text-blue-600 hover:underline"
                        href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> or
                    Google Authenticator for
                    <a class="font-medium text-blue-600 hover:underline"
                        href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a>
                    and
                    <a class="font-medium text-blue-600 hover:underline"
                        href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
                </p>
            </li>
            <li>
                <p class="mb-2 w-full mt-4 text-xl">Scan the QR Code or enter this key <strong>{{sharedKey}}</strong>
                    into your two factor authenticator app.
                    Spaces and casing do not matter.
                </p>
                <div class="alert alert-info">Learn how to <a class="font-medium text-blue-600 hover:underline"
                        href="https://go.microsoft.com/fwlink/?Linkid=852423">enable
                        QR code generation</a>.</div>
                <qrcode [qrdata]="qrURI" alt="Qr code" ariaLabel="Auth" [width]="256" [errorCorrectionLevel]="'M'">
                </qrcode>
            </li>
            <li>
                <p class="mb-2 w-full mt-4 text-lg">
                    Once you have scanned the QR code or input the key above, your two factor authentication app will
                    provide you
                    with a unique code. Enter the code in the confirmation box below.
                </p>
                <div class="space-y-2">
                    <div aria-hidden="true" class="border-t border-gray-700 px-2">

                        <form [formGroup]="twoFAForm" (click)="onVerify2fa()" class="container mx-auto" novalidate
                            autocomplete="off" class="p-2 container mx-auto">

                            <div class="mb-2">
                                <label for="name" class="block mb-2 font-bold text-[#f3dede]">Verification Code </label>
                                <input type="number" placeholder="Please enter the code." name="inputCode"
                                    formControlName="faCode" required
                                    class="text-[16px] border bg-[#4d4c4c] placeholder-[white] placeholder-opacity-50 text-[white] border-gray-300 shadow p-3 rounded-md w-full mb-3">
                            </div>

                        </form>
                    </div>

                    <!-- Buttons -->
                    <div class="px-6 py-2">
                        <div class="grid gap-2 grid-cols-[repeat(auto-fit,minmax(0,1fr))]">
                            @if(isLoading)
                            {
                            <button
                                class="inline-flex items-center justify-center py-1 gap-1 font-medium rounded-lg border transition-colors outline-none focus:ring-2 focus:ring-inset focus:ring-offset-0 min-h-[2.25rem] px-4 text-lg text-white shadow focus:ring-white border-transparent bg-[#3588d4] hover:bg-[#dcdf49] focus:bg-[green] focus:ring-offset-green-700">

                                <span class="flex items-center gap-1">
                                    <fa-icon class="fa-3x" style="color: #9ea5f3; --fa-animation-duration :0.5s"
                                        [icon]="dots" animation="bounce"></fa-icon>
                                    <fa-icon class="fa-3x ml-2" style="color:#81c5ba; --fa-animation-duration : 1.5s"
                                        [icon]="dots" animation="bounce"></fa-icon>
                                    <fa-icon class="fa-3x ml-2" style="color:#7b28c9;" [icon]="dots"
                                        animation="bounce"></fa-icon>
                                </span>
                            </button>
                            }

                            @else{

                            <button type="submit" (click)="onVerify2fa()"
                                class="inline-flex items-center justify-center py-1 gap-1 font-medium rounded-lg border transition-colors outline-none focus:ring-2 focus:ring-inset focus:ring-offset-0 min-h-[2.25rem] px-4 text-lg text-[#2d5c99de] shadow focus:ring-white border-transparent bg-[#c9d435] hover:bg-[#b7df49] focus:bg-red-700 focus:ring-offset-red-700">

                                <span class="flex items-center gap-1">
                                    <span class="">
                                        Verify Code
                                    </span>
                                </span>

                            </button>
                            }
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>
}
@else {
<div class="justify-center ml-16 min-h-screen">
    <p class="text-4xl text-green-500 font-semibold pt-32">Two factor Authentication already set up !!</p>
    <div class="pt-10 items-center content-center">
        <a routerLink="/home"
            class="text-white bg-yellow-700 hover:bg-yellow-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-900">Home</a>
    </div>
</div>
}