<div class="justify-center content-center items-center">
    <div class="font-bold px-5 mt-2 ">
        <div class="mt-15 px-14 pt-24">
            <h2 class="font-bold text-2xl md-8 text-blue-500">Disable Two Factor Authentication</h2>
            <p class="pt-6">
                <strong>This action only disables 2FA.</strong>
            </p>
            <p class="pt-14">
                Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
                used in an authenticator app you should <a asp-page="./ResetAuthenticator">reset your authenticator keys.</a>
            </p>
            <div class="pt-10">
                <form method="post">
                    <button type="button" (click)="onDisable2FA()"
                        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Disable 2FA</button>
                </form>
            </div>
        </div>
    </div>
    
</div>