<div class="justify-center content-center items-center">
    <div class="font-bold px-5 mt-2 ">
        <div class="m-4 px-14 p-4">
            <h2 class="font-bold text-2xl md-8 text-blue-500">Disable Two Factor Authentication</h2>
            <p class="pt-6 text-[#d3d1d1]">
                <strong>This action only disables 2FA.</strong>
            </p>
            <p class="pt-14 text-[#d4d3d3]">
                Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
                used in an authenticator app you should <a asp-page="./ResetAuthenticator">reset your authenticator
                    keys.</a>
            </p>
            <div class="pt-10">
                    <button type="button" (click)="onDisable2FA()" [disabled]="isLoading"
                        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 h-auto w-[100px] md:w-[350px] focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-[16px] p-2 me-2 mb-2 ">
                        @if(isLoading)
                        {
                        <fa-icon class="fa-3x" style="color: #9ea5f3; --fa-animation-duration :0.5s" [icon]="dots" animation="bounce"></fa-icon>
                        <fa-icon class="fa-3x ml-2" style="color:#81c5ba; --fa-animation-duration : 1.0s" [icon]="dots"
                            animation="bounce"></fa-icon>
                        <fa-icon class="fa-3x ml-2" style="color:#7b28c9; --fa-animation-duration : 1.5s" [icon]="dots"
                            animation="bounce"></fa-icon>
                        }
                        @else { Disable 2FA }
                    </button>
            </div>
        </div>
    </div>

</div>