<div class="justify-center items-center  ml-36 py-3">
    <h1 class="text-amber-600 text-2xl font-extrabold pt-16 py-2"> These are the thigs we can now get : <br />
    </h1>
    <h4 class="text-green-600 text-lg font-semibold underline-offset-4 py-4"> All options you have currently :
        <hr />
    </h4>

    <li class="text-blue-600 font-bold underline-offset-4"><a routerLink="/home" class="py-4">Search player </a><br />
    </li>
    <li class="text-blue-600 font-bold underline-offset-4"><a routerLink="/paymentdetails">Search clans</a><br />
    </li>
</div>