<ngx-loading [show]="isLoading"  [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="ml-6 justify-center items-center">
    <div class="pt-16">
        <a class="text-blue-600 font-bold pt-16" routerLink="/home">Home</a><br />
        <form [formGroup]="inputForm" (submit)="getAnswer()" [class.submitted]="service.formSubmitted" novalidate
            autocomplete="off">
            <div class="mt-4">
                <label for="first_name" class="block mb-2 text-lg font-medium text-gray-900">Type your query here..</label>
                <input type="text" formControlName="inputText"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Ask your query.." required>
            </div>
            <div class="d-grid">
                <!-- [disabled]="!paymentForm.valid" -->
                <button type="submit"
                    class="text-white mt-4 bg-blue-700 hover:bg-yellow-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-l px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Ask</button>
            </div>
        </form>
        <div class="justify-between">
            <button type="button" (click)="clearAll()"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Clear all</button>
        </div>
    </div>
</div>

<div class="container mb-3 ml-5 mr-6">

    <label class="mt-1 md-1 text-bg-dark text-xl font-bold">Query : {{inputForm.value.inputText}}</label>
    <label class="mt-1 md-1 text-bg-dark text-xl font-bold">Answer : </label>
    <markdown [data]="response" lineNumbers lineHighlight clipboard katex [katexOptions]="options"></markdown>
    <!-- <markdown [data]="mathEq" lineNumbers lineHighlight clipboard katex></markdown> -->
</div>