<div class="justify-center items-center  ml-36 py-3">
    <h1 class="text-amber-600 text-2xl font-extrabold pt-16 py-2"> Default Home with All options to go There <br /> </h1>
    <h4 class="text-green-600 text-lg font-semibold underline-offset-4 py-4"> All options you have currently : <br />
    </h4>

    <li class="text-blue-600 font-bold underline-offset-4"><a routerLink="/home" class="py-4">Home</a><br /></li>
    <li class="text-blue-600 font-bold underline-offset-4"><a routerLink="/paymentdetails">Payment Details</a><br />
    </li>

    <h5 class="mt-4 text-xl font-extrabold text-rose-800">Gemini API USAGE : </h5>

    <li class="text-blue-600 font-bold underline-offset-4"><a routerLink="/genAI/textonly">Text only </a><br /></li>
    <li class="text-blue-600 font-bold underline-offset-4"><a routerLink="/genAI/textandimageonly">Image and Text
            only</a></li>
</div>