<div class="mt-[45px] min-h-[94vh] bg-inherit text-gray-900 flex justify-center rounded-md">
    <div class="hidden md:block container mx-auto w-[48%] m-2 bg-inherit px-4 mt-9 shadow-md">
        <div class="flex-row justify-center items-center">
            <h1 class="text-2xl font-bold text-[#e4d93d] text-center"> Some Overviews </h1>
            <!-- Border -->
            <div class="h-[1px] mt-2 bg-[gray]"></div>
            <ol class="text-center items-center mt-5">
                <li class="text-[20px] hover:scale-x-[1.0] p-1 hover:border hover:border-[gray] text-left text-[white]"> 1. This will be a time bounded quiz . </li>
                <li class="text-[20px] hover:scale-x-[1.0] p-1 hover:border hover:border-[gray] text-left text-[white]"> 2. Questions are based on some general category or user created category. </li>
                <li class="text-[20px] hover:scale-x-[1.0] p-1 hover:border hover:border-[gray] text-left text-[white]"> 3. Questions are either true / false or single correct options or multiple correct option or any of them . </li>
                <li class="text-[20px] hover:scale-x-[1.0] p-1 hover:border hover:border-[gray] text-left text-[white]"> 4. Questions will have easy, medium , hard level difficulty . </li>
                <li class="text-[20px] hover:scale-x-[1.0] p-1 hover:border hover:border-[gray] text-left text-[white]"> 5. You can create quiz with questions from 5 - 50 [ multiple of 5] . </li>
                <li class="text-[20px] hover:scale-x-[1.0] p-1 hover:border hover:border-[gray] text-left text-[white]"> 6. You can navigate to other questions before/after answering while quiz is running. </li>
                <li class="text-[20px] hover:scale-x-[1.0] p-1 hover:border hover:border-[gray] text-left text-[white]"> 7. If you can navigate to other pages while the quiz is running, all progress will be lost . </li>
                <li class="text-[20px] hover:scale-x-[1.0] p-1 hover:border hover:border-[gray] text-left text-[white]"> 8. You can check your score with some other measures after submitting the quiz . </li>
            </ol>
        </div>
    </div>

    <div class="container mx-auto px-4 mt-4 shadow-md">
        <h1 class="text-2xl text-[#64dbd5] bg-[#7a1e7a] rounded-sm text-center"> Create Your Quiz </h1>
        <form class="max-w-sm mx-auto mt-9" [formGroup]="quizForm">
            <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Select questions
                count</label>
            <select formControlName="questionCount"
                class="border text-lg rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                @for(count of allQsNumberCounts; track $index)
                {
                <option class="p-4" [value]="count"> {{count}}
                </option>
                }
            </select>

            <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Select a
                category </label>
            <select formControlName="category"
                class="border text-lg rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">

                @for(cate of allCategories.categories; track $index)
                {
                <option class="p-4" [value]="cate.categoryId"> {{cate.categoryName}}
                </option>
                }
                @if(quizForm.controls['category'].errors && quizForm.controls['category'].touched)
                {
                <span class="mt-2 text-lg text-red-600">
                    <p class="font-medium"> Select a category
                </span>
                }
            </select>

            <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Select question
                type </label>
            <select formControlName="questionType"
                class="border text-lg rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">

                @for(type of allQsTypes; track $index)
                {
                <option class="p-4" [value]="type.id"> {{type.value}}
                </option>
                }
            </select>

            <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Select question
                level </label>
            <select formControlName="questionLevel"
                class="border text-lg rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                @for(lvl of allQsLevels; track $index)
                {
                <option class="p-4" [value]="lvl.id"> {{lvl.value}}
                </option>
                }
            </select>
            <button (click)="onQuizMaking()" type="submit" [disabled]="isLoading"
                class="p-3 h-16 mt-4 tracking-wider rounded-lg ease-in-out shadow-md hover:shadow-[#6aa4b6] bg-[#24459e] w-full text-[white] text-center font-bold">
                @if(isLoading)
                {
                <fa-icon class="fa-3x" style="color: #9ea5f3; --fa-animation-duration :0.5s" [icon]="dots"
                    animation="bounce"></fa-icon>
                <fa-icon class="fa-3x ml-2" style="color:#81c5ba; --fa-animation-duration : 1.0s" [icon]="dots"
                    animation="bounce"></fa-icon>
                <fa-icon class="fa-3x ml-2" style="color:#7b28c9; --fa-animation-duration : 1.5s" [icon]="dots"
                    animation="bounce"></fa-icon>
                }
                @else{Create quiz}
            </button>
        </form>
    </div>
</div>