<div class="text-center pt-28 top-56 bg-inherit font-bold text-2xl">
    <h1 class="text-center top-28 text-yellow-400 font-bold text-3xl underline">Clashing Options </h1>

    <div class="grid grid-flow-row grid-cols-1 md:grid-cols-2 justify-center items-center content-evenly gap-4 p-6 m-10">
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-[#fcd979] underline">Search Player
                </h5>
            </a>
            <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400">Search existing clash of clans player
                by
                tag and get details of that player.
            </p>

            <a routerLink="/clashOfClans/search-player"
                class="inline-flex items-center px-3 py-4 text-sm font-medium text-center text-[#fde090] bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Player
                Search
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
            </div>
            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-[#d6b162] underline">Search clan /
                        clans
                    </h5>
                </a>
                <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400">
                    Search clan by clan tag or by some filters and get all related details..
                </p>

            <a routerLink="/clashOfClans/search-clan"
                class="inline-flex items-center px-3 py-4 text-sm font-medium text-center text-[#d9ee7b] bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search
                clans
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
            </div>
            </div>
</div>