<div class="">
    <div class="mt-[15px] ">
        
        <div class="justify-center items-center mt-2 md-4 ml-36 py-4 pt-20">
            
            <div class="justify-center items-center mt-26 md-4 ml-36 pt-14 py-3 ">
                <div class="text-white-600 fixed mt-10 font-bold underline-offset-4">
                    <a routerLink="enable-2FA" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enable
                        Two FA
                    </a>
                    <a routerLink="disable-2FA"
                        class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Disable
                        2FA
                    </a>
                    <button type="button" (click)="deleteAllUserData()"
                        class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete
                        All user Data
                    </button>
                    <a routerLink="/home" class="text-white bg-yellow-700 hover:bg-yellow-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-900">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>