<!-- Another try of making responsive navbar -->
<nav class="p-2 flex fixed w-[100%] top-0 z-[9999] bg-[#1f7bb8] justify-between items-center">

    <a routerLink="/" class="ml-10 text-2xl text-yellow-500 lg:text-2xl hover:scale-x-[1.1] font-bold cursor-pointer">
        Many In One
    </a>

    <!-- Nav items -->
    <div class="hidden md:flex gap-4">
        <a routerLink="/home"
            class="text-neutral-200 cursor-pointer text-lg font-semibold hover:scale-x-[1.1] hover:text-yellow-600 transition-[1s]">Home</a>
        <a routerLink="/payment-details"
            class="text-neutral-200 cursor-pointer text-lg font-semibold hover:scale-x-[1.1] hover:text-yellow-600 transition-[1s]">
            Payment
        </a>

        <li class="relative group list-none">
            <button routerLink="/home"
                class="text-neutral-200 cursor-pointer text-lg font-semibold hover:scale-x-[1.1] group-hover:text-yellow-600">Gen AI
            </button>

            <!-- Dropdown Menu With Links -->
            <div
                class="absolute top-0 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 w-[240px] min-w-[120px] transform">
                <div class="relative mr-4 top-6 p-6 bg-[#2d6497] rounded-xl shadow-xl w-full">
                    <!-- Cornered Tooltip -->
                    <div
                        class="size-12 bg-[#2d6497] transform rotate-45 absolute top-0 z-0 -translate-x-4 transition-transform group-hover:translate-x-1 duration-500 ease-in-out rounded-sm">
                    </div>
                    <!-- Cornered Tooltip -->

                    <div class="relative z-10">
                        <ul class="text-[#e4e4e4]">
                            <li
                                class="my-1 hover:bg-yellow-700 hover:rounded-xl hover:shadow-xl w-full hover:text-green-300 px-3 py-2 font-bold">
                                <a routerLink="genAI/textonly">
                                    Text Only
                                </a>
                            </li>
                            <li
                                class="my-1 hover:bg-yellow-700 hover:rounded-xl hover:shadow-xl w-full hover:text-green-300 px-3 py-2 font-bold">
                                <a routerLink="genAI/textandimageonly" class="">
                                    Text and Image
                                </a>
                            </li>
                            <li
                                class="my-1 hover:bg-yellow-700 hover:rounded-xl hover:shadow-xl w-full hover:text-green-300 px-3 py-2 font-bold">
                                <a routerLink="genAI/summarize" class="">
                                    Summarize Text
                                </a>
                            </li>
                            <li
                                class="my-1 hover:bg-yellow-700 hover:rounded-xl hover:shadow-xl w-full hover:text-green-300 px-3 py-2 font-bold">
                                <a routerLink="genAI/text-to-image" class="">
                                    Text to Image
                                </a>
                            </li>
                            <li
                                class="my-1 hover:bg-yellow-700 hover:rounded-xl hover:shadow-xl w-full hover:text-green-300 px-3 py-2 font-bold">
                                <a routerLink="genAI/generate-speech" class="">
                                    Text to Speech
                                </a>
                            </li>
                            <li
                                class="my-1 hover:bg-yellow-700 hover:rounded-xl hover:shadow-xl w-full hover:text-green-300 px-3 py-2 font-bold">
                                <a routerLink="genAI/conversation" class="font-bold">
                                    Question & Answer
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- Dropdown Menu With Links -->
        </li>

        <a routerLink="quizzer"
            class="text-neutral-200 cursor-pointer text-lg font-semibold hover:scale-x-[1.1] hover:text-yellow-600 transition-[1s]">Quizzer</a>
        <a routerLink="clashOfClans"
            class="text-neutral-200 cursor-pointer text-lg font-semibold hover:scale-x-[1.1] hover:text-yellow-600 transition-[1s]">Clash
            of
            Clans</a>
    </div>

    <!-- Login / Signup button -->
    <div class="hidden md:flex gap-2 items-center" (click)="closeSidebar()">
        @if(checkCurrUser)
        {
        <a routerLink="/manage"
            class="hover:bg-gradient-to-r px-2 py-1 hover:from-blue-500 hover:to-purple-500 text-white rounded-md transition-transform transform-gpu hover:-translate-y-1 hover:shadow-md"><span
                class="text-lg text-[white]">
                Welcome ,
                <strong>{{currUserName}}</strong></span>
        </a>

        <button (click)="onLogout()" [disabled]="isLoading"
            class="bg-[#eb2e76] hover:bg-[red] px-2 py-1 text-gray-100 rounded-md cursor-pointer font-bold text-lg mr-4">
            @if(isLoading)
            {
            <fa-icon class="fa-lg" style="color: #eff5a1; --fa-animation-duration :0.5s" [icon]="dots"
                animation="bounce"></fa-icon>
            <fa-icon class="fa-lg ml-2" style="color:#81c5ba; --fa-animation-duration : 1.0s" [icon]="dots"
                animation="bounce"></fa-icon>
            <fa-icon class="fa-lg ml-2" style="color:#72c0ec; --fa-animation-duration : 1.5s" [icon]="dots"
                animation="bounce"></fa-icon>
            }
            @else {
            Sign Out
            }
        </button>
        }
        @else {
        <a routerLink="/login"
            class="text-gray-200 hover:text-gray-800 px-2 py-1 hover:bg-yellow-400 hover:rounded-md text-lg font-semibold cursor-pointer">LOGIN</a>
        <a routerLink="/register"
            class="text-green-500 text-lg font-semibold px-2 py-1 cursor-pointer hover:rounded-md  hover:bg-indigo-500 hover:text-gray-800">SIGN
            UP</a>
        }
    </div>

    <button class="p-2 md:hidden" (click)="openSidebar()">
        <fa-icon class="fa-lg" style="color: #b8e3ee;" [icon]="hamburger"></fa-icon>
    </button>

    <!-- Fixed for mobile menu -->
    <div class="fixed block md:hidden z-[9999] bg-[#3164af] top-0 inset-0 px-2 py-1"
        [ngClass]="isSidebarShowing ? '' : 'hidden'">

        <div class="flex justify-between">
            <a routerLink="/" class="ml-5 text-2xl text-yellow-500 lg:text-2xl font-bold cursor-pointer">
                Many In One
            </a>

            <button class="p-2 md:hidden" (click)="closeSidebar()">
                <fa-icon class="fa-lg" style="color: #bde9fa;" [icon]="close"></fa-icon>
            </button>
        </div>

        <!-- Border -->
        <div class="h-[1px] bg-[gray]"></div>

        <!-- Nav items -->
        <div class="mt-4 overflow-auto">
            <a routerLink="/home" (click)="closeSidebar()"
                class="text-[#f7cb84] m-3 p-2 flex justify-between cursor-pointer text-lg font-semibold hover:text-yellow-600 transition-[1s] rounded-lg bg-[#5db2f8] shadow-md">Home
                <span class="">
                    <fa-icon class="fa-lg" style="color: #0feb8f; --fa-animation-duration :1.2s" [icon]="home"
                        animation="bounce"></fa-icon>
                </span>
            </a>

            <a routerLink="/payment-details" (click)="closeSidebar()"
                class="text-[#f0ba45] m-3 p-2 flex justify-between cursor-pointer text-lg font-semibold hover:text-yellow-600 transition-[1s] rounded-lg bg-[#5db2f8] shadow-md">Payment
                <span class="">
                    <fa-icon class="fa-lg" style="color: #462e9c; --fa-animation-duration :0.8s" [icon]="card"
                        animation="bounce"></fa-icon>
                </span>
            </a>

            <div class="">
                <details class="">
                    <summary
                        class="text-[#d4e6fa] m-3 p-2 flex justify-between gap-2 cursor-pointer text-lg font-semibold hover:text-yellow-600 rounded-lg bg-[#5db2f8] shadow-md">
                        <span class="font-semibold">Gen AI</span>
                        <span class="">
                            <fa-icon class="fa-lg" style="color: #e03de6; --fa-animation-duration :0.6s" [icon]="ai"
                                animation="bounce"></fa-icon>
                        </span>
                    </summary>
                    <div class="bg-inherit p-4">
                        <ul class="text-[#e4e4e4] ml-4" (click)="closeSidebar()">
                            <li
                                class="my-1 w-full px-3 py-2 font-bold rounded-xl bg-yellow-700 text-green-300 shadow-xl">
                                <a routerLink="genAI/textonly"> Text Only </a>
                            </li>
                            <li
                                class="my-1 w-full px-3 py-2 font-bold rounded-xl bg-yellow-700 text-green-300 shadow-xl">
                                <a routerLink="genAI/textandimageonly" class=""> Text and Image </a>
                            </li>
                            <li
                                class="my-1 w-full px-3 py-2 font-bold rounded-xl bg-yellow-700 text-green-300 shadow-xl">
                                <a routerLink="genAI/summarize" class=""> Summarize Text </a>
                            </li>
                            <li
                                class="my-1 w-full px-3 py-2 font-bold rounded-xl bg-yellow-700 text-green-300 shadow-xl">
                                <a routerLink="genAI/text-to-image" class=""> Text to Image </a>
                            </li>
                            <li
                                class="my-1 w-full px-3 py-2 font-bold rounded-xl bg-yellow-700 text-green-300 shadow-xl">
                                <a routerLink="genAI/generate-speech" class=""> Text to Speech </a>
                            </li>
                            <li
                                class="my-1 w-full px-3 py-2 font-bold rounded-xl bg-yellow-700 text-green-300 shadow-xl">
                                <a routerLink="genAI/conversation" class="font-bold"> Question & Answer </a>
                            </li>
                        </ul>
                    </div>
                </details>
            </div>

            <a routerLink="quizzer" (click)="closeSidebar()"
                class="text-[#a92fc2] m-3 my-1 p-2 flex justify-between cursor-pointer text-lg font-semibold hover:text-yellow-600 transition-[1s] rounded-lg bg-[#5db2f8] shadow-md">Quizzer
                <span class="">
                    <fa-icon class="fa-lg" style="color: #b95d06; --fa-animation-duration :0.5s" [icon]="quizzer"
                        animation="bounce"></fa-icon>
                </span>
            </a>

            <a routerLink="clashOfClans" (click)="closeSidebar()"
                class="text-[#5e4719] m-3 p-2 flex justify-between cursor-pointer text-lg font-semibold hover:text-yellow-600 transition-[1s] rounded-lg bg-[#5db2f8] shadow-md">Clash
                of
                Clans
                <span>
                    <fa-icon class="fa-lg" style="color: #e4f30d; --fa-animation-duration :0.5s" [icon]="c"
                        animation="bounce"></fa-icon>
                    <fa-icon class="fa-lg ml-2" style="color:#95ebdc; --fa-animation-duration : 1.0s" [icon]="o"
                        animation="bounce"></fa-icon>
                    <fa-icon class="fa-lg ml-2" style="color:#f0ec12; --fa-animation-duration : 1.5s" [icon]="c"
                        animation="bounce"></fa-icon>
                </span>
            </a>
        </div>

        <!-- Border -->
        <div class="h-[1px] bg-[gray]"></div>

        <!-- Login / Signup button -->
        <div class="w-full gap-1 flex justify-evenly overflow-y-auto items-center mt-2 p-2" (click)="closeSidebar()">
            @if(checkCurrUser)
            {
            <a routerLink="/manage"
                class="hover:bg-gradient-to-r px-4 py-1 hover:from-blue-500 hover:to-purple-500 text-white rounded-sm transition-transform transform-gpu hover:-translate-y-1 hover:shadow-md"><span
                    class="text-lg text-[white]">Welcome ,
                    <strong>{{currUserName}}</strong></span>
            </a>
            <button (click)="onLogout()" [disabled]="isLoading"
                class="bg-[#eb2e76] px-2 py-1 text-gray-100 rounded-md cursor-pointer font-bold text-lg mr-4">
                @if(isLoading)
                {
                <fa-icon class="fa-lg" style="color: #eff5a1; --fa-animation-duration :0.5s" [icon]="dots"
                    animation="bounce"></fa-icon>
                <fa-icon class="fa-lg ml-2" style="color:#81c5ba; --fa-animation-duration : 1.0s" [icon]="dots"
                    animation="bounce"></fa-icon>
                <fa-icon class="fa-lg ml-2" style="color:#43c1f3; --fa-animation-duration : 1.5s" [icon]="dots"
                    animation="bounce"></fa-icon>
                }
                @else {
                Sign Out
                }
            </button>
            }
            @else {
            <a routerLink="/login"
                class="text-gray-200 hover:text-gray-800 px-2 py-1 hover:bg-yellow-400 hover:rounded-md text-lg font-semibold cursor-pointer">LOGIN</a>
            <a routerLink="/register"
                class="text-green-500 text-lg font-semibold px-2 py-1 cursor-pointer hover:rounded-md  hover:bg-indigo-500 hover:text-gray-800">SIGN
                UP</a>
            }
        </div>
    </div>
</nav>