<div class="row mt-5 pt-10">
    <div class="col-6">
        <app-payment-details-form></app-payment-details-form>
    </div>


    <div class="col-6 shadow-md sm:rounded-lg ml-4 mr-4 rounded-lg border-spacing-1">
        <div class="text-2xl font-bold bg-orange-300 text-center">Payment Details</div>
        <!-- Table data search -->
            <!-- <div class="pb-4 bg-white dark:bg-gray-900">
                <label for="table-search" class="sr-only">Search</label>
                <div class="relative mt-1">
                    <div  class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                </div> -->
                <!-- <form [formGroup]="filterForm"> -->
                        <!-- <input type="text" id="searchText" formControlName="searchText"
                            class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Search for items">
                <!-- </form> -->
            <!-- </div> -->
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 font-bold text-yellow-500">
                        Card Owner name
                    </th>
                    <th scope="col" class="px-6 py-3 font-bold text-yellow-500">
                        Card Number
                    </th>
                    <th scope="col" class="px-6 py-3 font-bold text-yellow-500">
                        Expiration Date
                    </th>
                    <th scope="col" class="px-6 py-3 font-bold text-yellow-500">
                        Action
                    </th>
                    <th scope="col" class="px-6 py-3 font-bold text-red-500">
                        Delete
                    </th>
                </tr>
            </thead>
            @for (pd of service.list | tableSearchFilter: searchText ; track pd.paymentDetailId ) 
            {
            <tbody>
                <tr
                    class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{pd.cardOwnerName}}
                    </th>
                    <td class="px-6 py-4">
                        {{pd.cardNumber}}
                    </td>
                    <td class="px-6 py-4">
                        {{pd.expirationDate}}
                    </td>
                    <td class="px-6 py-4">
                        <a (click)="populateForm(pd)"
                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer">Edit</a>
                    </td>

                    <td class="px-6 py-4">

                        <span class="cursor-pointer" (click)="onDelete(pd.paymentDetailId)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </span>
                    </td>

                </tr>
            </tbody>
            }
            @empty {
            <div>
                <h1 class="px-6 py-4 font-extrabold items-center content-center text-red-500"> No payment details added
                    yet !!</h1>
            </div>
            }
        </table>
    </div>
</div>