<div class="row mt-5 pt-10">
    <div class="col-6">
        @if(isOpen)
        {
        <div class="justify-center items-center ml-52 pt-5">
            <div class="text-2xl font-bold text-yellow-200 underline">
                Update Payment Details
            </div>
            <div class="w-72">
                <form [formGroup]="updateForm" (submit)="onSubmit()" [class.submitted]="service.formSubmitted"
                    novalidate autocomplete="off">

                    <input type="hidden" name="paymentDetailId" [value]="service.formData.paymentDetailId">
                    <div class="mb-3">
                        <label class=" mb-2 text-lg font-medium text-gray-100">Card Owner Name</label>
                        <input type="text" formControlName="cardOwnerName"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Name on Card" name="cardOwnerName" required>
                        @if(updateForm.controls['cardOwnerName'].errors && updateForm.controls['cardOwnerName'].touched)
                        {
                        <p class="mt-2 text-lg text-red-600 dark:text-red-500"><span class="font-medium"> - Card owner
                                name
                                is
                                required</span> of minimum 4 length.
                        </p>
                        }

                    </div>

                    <div class="mb-3">
                        <label class="mb-2 text-lg font-medium text-gray-100">Card Number</label>
                        <input type="text" formControlName="cardOwnerNumber"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="16 digit Card Number" name="cardNumber" formControlName="cardNumber" required>
                        @if(updateForm.controls['cardNumber'].errors && updateForm.controls['cardNumber'].touched)
                        {
                        <p class="mt-2 text-lg text-red-600 dark:text-red-500"><span class="font-medium"> - Card number
                                is
                                of 16
                                digits</span>
                            required.
                        </p>
                        }
                    </div>

                    <div class="row">
                        <div class="mb-3 col-6">
                            <label class="block mb-2 text-lg font-medium text-gray-100">Security Code</label>
                            <input type="password" formControlName="cardOwnerName"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="CVV" type="password" name="securityCode" formControlName="securityCode"
                                required>
                            @if(updateForm.controls['securityCode'].errors &&
                            updateForm.controls['securityCode'].touched)
                            {
                            <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium"> - 3
                                    digits</span>
                                of security code required.
                            </p>
                            }
                        </div>
                        <div class="mb-3 col-6">
                            <label class="block mb-2 text-lg font-medium text-gray-100">Expiry Date</label>
                            <input type="text"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-[16px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="MM/YY" name="expirationDate" formControlName="expirationDate" required>
                            @if(updateForm.controls['expirationDate'].errors &&
                            updateForm.controls['expirationDate'].touched)
                            {
                            <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium"> - Expiry
                                    date</span>
                                in MM/YY format required.
                            </p>
                            }
                        </div>
                    </div>

                    <div class="flex justify-evenly items-center gap-2">
                        <button type="submit" [disabled]="!updateForm.valid || isLoading"
                            class="text-white h-10 mr-12 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-[14px] cursor-pointer px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            @if(isLoading)
                            {
                            <svg xmlns="http://www.w3.org/2000/svg" height="28" width="56"
                                class="flex items-center justify-center animate-bounce animate-infinite animate-ease-in"
                                viewBox="0 0 448 512">
                                <path fill="#b9c9f8"
                                    d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z" />
                            </svg>
                            }
                            @else { <p class="text-[16px]">Submit</p>}
                        </button>
                        <button
                            class="text-white h-10 bg-red-700 hover:bg-red-400 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-[14px] cursor-pointer px-5 py-2.5 me-2 ml-10 mb-2 dark:bg-red-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                            (click)="closePop()">Close</button>
                    </div>

                </form>
            </div>
        </div>
        }
        @else {
        <app-payment-details-form></app-payment-details-form>
        }
    </div>


    <div class="col-6 shadow-md sm:rounded-lg ml-4 mr-4 rounded-lg border-spacing-1">
        <div class="text-2xl font-bold bg-orange-800 text-center">Payment Details</div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 font-bold text-yellow-500">
                        Card Owner name
                    </th>
                    <th scope="col" class="px-6 py-3 font-bold text-yellow-500">
                        Card Number
                    </th>
                    <th scope="col" class="px-6 py-3 font-bold text-yellow-500">
                        Expiration Date
                    </th>
                    <th scope="col" class="px-6 py-3 font-bold text-yellow-500">
                        Action
                    </th>
                    <th scope="col" class="px-6 py-3 font-bold text-red-500">
                        Delete
                    </th>
                </tr>
            </thead>
            @for (pd of service.list; track pd.paymentDetailId )
            {
            <tbody>
                <tr
                    class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{pd.cardOwnerName}}
                    </th>
                    <td class="px-6 py-4">
                        {{pd.cardNumber}}
                    </td>
                    <td class="px-6 py-4">
                        {{pd.expirationDate}}
                    </td>
                    <td class="px-6 py-4">
                        <a (click)="openPop(pd)"
                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer">Edit</a>
                    </td>

                    <td class="px-6 py-4">

                        <span class="cursor-pointer" (click)="onDelete(pd.paymentDetailId)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </span>
                    </td>

                </tr>
            </tbody>
            }
            @empty {
            <div>
                <h1 class="px-6 py-4 font-extrabold items-center content-center text-red-500"> No payment details added
                    yet !! OR <div class="flex justify-center items-center bg-inherit">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="animate-bounce animate-infinite animate-ease-in h-16 w-44" viewBox="0 0 448 512">
                            <path fill="#63E6BE"
                                d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z" />
                        </svg>
                    </div>
                </h1>
            </div>
            }
        </table>
    </div>
</div>